body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}
input:-webkit-autofill{
    　　-webkit-box-shadow: 0 0 0 400px #fff inset;
    　　-webkit-text-fill-color: #666666;//设置字体颜色
    }
#top,#header,#banner,#main,#footer{width:1240px;margin: 0 auto;}
//#pos
body{
    position: relative;
}

// 这里放一些元素离子
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    &::after{
        content: ".";
        height: 0;
        visibility: hidden;
        clear: both;
        display: block;
    }
}
.tip_txt{
    color: #ff4965
}

#pos{
    position: fixed;
    width: 70px;
    height: 175px;
    background: white;
    opacity: 0.7;
    right: 0;
    bottom: 100px;
}
#pos div{
    height: 43px;
    border: 1px solid #DDDDDD;
    position: relative;
}
#pos div img{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
//top
#top{
    height:30px;
    background:#f4f4f4;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    padding: 0 80px;
}
#top .nav_list {
   float: right;
}

.nav_list span{
    float: left;
}



.nav_list li{
    position: relative;   
}

//二维码

#erweima{
    position: absolute;
    left: -100px;
    height: 180px;
    width:200px;
    display: none;
    background: white;
    z-index: 999;
    border: 1px solid #DDDDDD;
}
#erweima p{
    font-size: 12px;
}
.nav_list li:last-child:hover #erweima{
    display: block;
}


.nav_two li:nth-child(2){
    clear: both;
   
   position: absolute;
   top: 30px;
}

.nav_two{
    position: absolute;
    display: none;
}



#beibei1:hover .nav_two{
   display: block;
   background:white;
}

//.nav_two:hover{
//  height: 90px;
//  background:white;
//}
//帮助中心

.help{
    display: none;
    position: absolute;
}

#beibei2:hover .help{
    background:white;
    display: block;
   
}

#top .nav_list li{
    float: left;
    font-size: 12px;
   line-height: 30px;
    text-align: center;
//  padding-right:20px;
     
}
#top a{
    color:#555555;
}
#top .pink{
    color: #ff647c;
}
#top span{
    margin:0 20px;
    color: #dddddd;
}
#top .nav_list li img{
    width: 10px;
    height: 8px;
    display: inline-block;
    margin-left: 5px;
}


//header
#header{
    
    height: 130px;
   
    box-sizing: border-box;
}
.header_top{
     box-sizing: border-box;
     padding: 22px 80px;
    height: 90px;
    background:#ffffff;
}


.header_top h1{
    float: left;
}

.header_top .right{
    float: right;
  
}
.header_top h2{
    float: left;
    margin-top: 15px;
   

}
.header_top .header_cart{
    float: left;
     margin-top: 15px;
}
//..........................nav购物车
.header_cart{
    width: 150px;
    height: 35px;
//  border: 1px solid #333333;
}
.header_cart_l{
    float: left;
}
.header_cart_r{
    float: left;
    width: 115px;
    height: 34px;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
    background: #ff647c;
    border-radius: 0 20px 20px 0;
    margin-top: 1px;
}
.header_cart_r img{
    float:right;
    margin-top:15px;
    margin-right: 10px;
}
.header_nav{
    padding: 0 80px;
    height: 40px;
     background:#ff647c;
}

.header_nav ul li{
    float: left;
    width: 95px;
     line-height: 40px;
    text-align: center;
}
.header_nav ul li:nth-child(1){
    background:#f34660 ;
}
.header_nav ul li a{
    font-size: 15px;
    color: #FFFFFF;
   
}
.header_nav ul li:hover {
    background:#f34660 ;
}
//.................................三级菜单
.search{
    float: right;
   
}
.search_fl{
    float: left;
    position: relative;
}
.search_fl span{
    float: left;
    margin-left: 3px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #FFFFFF;
    margin-right:5px;
}
.search_fl span img{
    margin-top: 17px;
}
.search .search_fl #meau{
  position: absolute;  
  top: 40px;
  left:-200px;
    width:500px;
    height:300px;
    z-index: 999990;
   
 display: none;
}
.search_fl:hover #meau{
    display: block;
  background:#f4f4f4;
}
#meau .meau_search_l:hover{
    color: red;
    background: white;
    border: 0;
}
//菜单
#meau_search{
     width: 100px;
    height: 500px;
    background:#f4f4f4;
    float: left;
}
#meau_search .meau_search_l{
    position: relative;
    width: 100px;
    height: 30px;
    background:#f4f4f4 ;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
 
}

#meau .meau_r{
    background:#f9f9f9;
    float: left;
}
#meau .meau_r{
    width:390px;
    height:500px;
    border: 1px solid #DDDDDD;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.meau_r div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.meau_r div img{
    width:40px;
    height:40px;
    margin-bottom: 15px;
}
.meau_r div dd{
    font-size: 12px;
    color: #999999;
    line-height: 20px;
}
#meau .meau_r div{
    width:95px;
    height: 100px;
    border: 1px dashed #DDDDDD;
}
.data1{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: white;
    
}
#meau_search{
    height: 300px;
    font-size: 12px;
}
//.............................搜索框

.input_wrap{
    width: 210px;
    height: 25px;
    float: left;
   background: white;
    margin-top:10px;
    position: relative;
    box-sizing: border-box;
   
}
.input_wrap #txt{
    float: left;
    border: 0;
    outline: none;
    line-height: 22px;
    text-indent: 5px;
}
.input_wrap h6{
    float: right;
    height: 25px;
    margin-top: 4px;
}
.input_wrap ul li a{
   display: block; 
   color: gray;
   line-height: 30px;
}
.input_wrap ul{
     border: 1px solid #DDDDDD;
            }
.input_wrap ul .hover a{
background:gainsboro ;
}
//footer
#footer{
    height:auto;
    background: gainsboro;
}
.footer_top{
    height: 162px;
    background:#f1f1f1;
    border-bottom: 1px solid #e9e1e8;
    padding: 25px 80px 0 80px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

.footer_top div{
    width: 130px;
    border-right: 1px solid #e9e1e8;
    margin-left: 12px;
    margin-right: 15px;
}
.footer_top div ul{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer_top li{
    list-style:disc;
//  text-align: center;
    color: #888888;
    font-size: 12px;
    line-height: 20px;
}

#title{
//  text-align: center;
    list-style-image: url(../image/f1.jpg);
    line-height: 27px;
    font-size: 16px;
    color: #777777;
}
#title1{
//  text-align: center;
    list-style-image: url(../image/f2.jpg);
    line-height: 27px;
    font-size: 16px;
    color: #777777;
}

.linkus h2{
    float: left;
}



.footer_m{
    padding: 0 210px;
    height: 85px;
    background:#f1f1f1;
    border-bottom:1px solid #ff5482;
}
.footer_nav{
    height:40px;
    background: #555555;
       padding-left: 125px;
}
.footer_nav li{
    float: left;
 
}
.footer_nav li a{
    display: block;
    border-right: 1px solid #dddddd;
    font-size: 12px;
    width: 75px;
    text-align: center;
    margin-top: 15px;
    color: #dddddd;
}
.footer_nav li a:hover{
    color: #888888;
}


.footer_b{
    height: 162px;
    background: wheat;
     padding-top: 15px;
    
  
}
.footer_b p{
    font-size: 12px;
   
    text-align: center;
    line-height: 30px;
}
.footer_b_pic{
    margin-left: 400px;
    margin-top: 30px;
}
.footer_b_pic img{
    float: left;
    width: 90px;
    height: 30px;
    margin-left: 12px;
  
 
}
.data1 {
    display: none;
    
}
.hover{
    display: block !important; 
}
.data1 span{
    color: #000000;
    line-height: 20px;
}
.data1 li{
    border: 1px solid #DDDDDD;
}
