//banner

#banner{
    height: 390px;

}
.banner_nav {
    padding: 0 80px;
    background: white;
//  border: 1px solid #333333;
     height: 30px;
     box-sizing: border-box;
   
}
.banner_nav ul li{
    float: left;
    line-height: 30px;
    padding:0 18px 0 18px;
}
.banner_nav ul li:hover {
    border-bottom: 2px solid #f34660;
}
.banner_nav li a{
   
    color: #999999;
    font-size: 12px;
    
}
.yugao{
    float: right;
    width: 160px;
    background: #f7f7f7;
}
.yugao em{
  
    float: left;
    margin-right: 6px;
    margin-top: 7px;
}
.yugao a{
    float: left;
    color: #ff506b;
    font-size: 12px;
    line-height: 30px;
    margin-left: 40px;
}

.banner_pic a{
    display: block;
    width: 1240px;
    height: 360px;
    background-image:url(../image/banner.png);
    background-repeat: no-repeat;
}


